// COLORS ---------------------------------------------------------------------------------------------------------
$clr-white: #FFFFFF;
$clr-black: #000000;

$clr-primary: #FFD166;
$clr-primary-blue: #42B0FF;
$clr-primary-red: #FF5757;
$clr-primary-pink: #FF64EF;
$clr-secondary-pink: #FFD9F2;

$clr-secondary-black: #141414;
$clr-tertiary-black: #1E1E1E;
$clr-grey-300: #636363;
$clr-grey-400: #666666;
$clr-grey-500: #757575;
$clr-grey-800: #565656;

$clr-secondary-white: #FBFBFB;

$clr-figma-green: #0ACF83;
$clr-figma-blue: #1ABCFE;
$clr-figma-orange: #F24E1E;
$clr-figma-purple: #A259FF;
$clr-figma-pink: #FF7262;

$clr-cta-gradient: linear-gradient(180deg, #70E000, #006400);
$clr-cta-gradient-hover-a: linear-gradient(180deg, #ACFF86, #ACFF86);
$clr-cta-gradient-hover: linear-gradient(to right, #FF7262, #FF64EF);
$clr-secondary-cta: #ACFF86;
$clr-adobe-gradient: radial-gradient(50% 50% at 50% 50%, #F8CE09 0%, #74E044 18.75%, #FC1CAA 34.37%, #3B8BFD 52.08%, #F91900 83.85%, #FF26BE 95.83%);

$clr-card-yellow: #FF9D42;

// $clr-: #EBEBEB;
// $clr-: #264DE4;
// $clr-: #2965F1;

// FONTS ---------------------------------------------------------------------------------------------------------
$default-font-size: 1.6rem;

