.section {
    &__work {
        &__grid-container {
            margin: 6rem 13.2rem;
            display: grid;
            grid-template-rows: 35.8rem 35.8rem;
            grid-template-columns: 50.2rem 50.2rem;
            grid-gap: 8rem;

            &__thumbnail {
                border: white 1px solid;

                &--image {
                    width: 50rem;
                    outline: white 1px solid;
                }

                &__textbox {
                    display: flex;
                    justify-content: space-between;

                    &--title, &--job {
                        font-size: 1.6rem;
                        margin: 1rem;
                    }
                }
            }
        }
        
    }
}