.footer {
    margin-top: 2rem;
    width: 100vw;
    height: 5.9rem;

    @include respond(phone) {
        height: 100%;

    }
    border-top: 1.54px solid #08243b;
    background-color: #030e18;
    display: flex;
    align-items: center;

    &__contact {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include respond(phone) {
            flex-wrap: wrap;
        }
    }
    &__email, &__copy {
        font-size: 1.4rem;
        font-weight: lighter;
        display: block;
        margin: 0 4rem;

        @include respond(phone) {
            flex-wrap: wrap;
            margin: 2rem 4rem;
        }
    }

    &__copy {
        opacity: 0.2;
    }
} 