.hero {
    position: relative;
    background-color: #051828;
    color: $clr-secondary-white;
    height: 88vh; 
    
    border-bottom: 1.54px solid #08243b;

    &__light-mode {
        position: absolute;
        top: 3.5rem;
        right: 6.1rem;
        
        &__text {
            color: rgba($color: #fff, $alpha: .2);
        }

    } 

    &__text-box {
        position: absolute;
        top: 15%;    
        left: 6%;
        width: 100%;

        &__title, &__paragraph {
            margin-bottom: 4rem;

        }

        &__title {  
            font-family: "Playfair-Display";
            font-size: 3.8rem;
            font-weight: 400;
            line-height: 6.3rem;
            color: $clr-primary;
        } 

        &__paragraph, &__main {
            font-size: 1.8rem;
            line-height: 2.6rem;
        }

        &__main {
            width: 45ch;

            @include respond(phone) {
                width: 28ch;
            }


            &__cta-link {
                text-decoration: none;
                color: $clr-secondary-cta;
                border-bottom: 1.54px solid $clr-secondary-cta;   


                // background-image: $clr-cta-gradient;
                // background-clip: text;
                // -webkit-background-clip: text;
                // color: transparent;
                // border-bottom: 1.54px solid green;
                // transition: all .1s ease-in-out;
                &:hover {
                    color: $clr-secondary-black;
                    border-bottom: 1.54px solid $clr-secondary-black;
                    background-image: $clr-cta-gradient-hover-a;

                    // background-image: $clr-cta-gradient-hover;
                    // border-bottom: 1.54px solid #FF64EF;
                }
            }
        }
    }
}

  



