.hero {
    position: relative;
    background-color: #051828;
    color: $clr-secondary-white;
    height: 88vh; 
    @include respond(phone) {
        height: 128vh;
    }
    border-bottom: 1.54px solid #08243b;

    &__light-mode {
        position: absolute;
        top: 3.5rem;
        right: 6.1rem;
        
        &__text {
            color: rgba($color: #fff, $alpha: .2);
        }

    } 

    &__text-box {
        position: absolute;
        top: 15%;    
        left: 6%;
        width: 100%;

        &__title, &__paragraph {
            margin-bottom: 4rem;
            
            
        }

        &__title {  
            font-family: "Playfair Display";
            font-size: 3.8rem;
            font-weight: 400;
            line-height: 6.3rem;
            color: $clr-primary;
            width: 15ch;
            @include respond(phone) {
                width: 7ch;
                font-size: 4.8rem;
            }
        } 

        &__paragraph, &__main {
            font-size: 1.8rem;
            line-height: 2.6rem;
            @include respond(phone) {
                font-size: 2.4rem;
                line-height: 3.2rem;

            }
        }

        &__main {
            width: 45ch;

            @include respond(phone) {
                width: 23ch;
            }


            &__cta-link {
                text-decoration: none;
                color: $clr-secondary-cta;
                border-bottom: 1.54px solid $clr-secondary-cta;   


                &:hover {
                    color: $clr-secondary-black;
                    border-bottom: 1.54px solid $clr-secondary-black;
                    background-image: $clr-cta-gradient-hover-a;

                }
            }
        }
    }
}

  



